circle{stroke:black;}

circle.Flood{fill:blue;}
circle.Coastal_Storm{fill:blue;}
circle.Dam_Levee_Break{fill:blue;}

circle.Earthquake{fill:sienna;}


circle.Fire{fill:red;}
circle.Volcano{fill:tomato;}
circle.Drought{fill:sandybrown;}
circle.Mud_Landslide{fill:sandybrown;}
circle.Fishing_Losses{fill:bluegreen;}

circle.Hurricane{fill:darkblue;}
circle.Tsunami{fill:darkblue;}
circle.Typhoon{fill:darkblue;}

circle.Tornado{fill:black;}
circle.Severe_Storms{fill:black;}

circle.Severe_Ice_Storm{fill:aqua;}
circle.Snow{fill:aqua;}
circle.Freezing{fill:aqua;}

circle.Human_Cause{fill:purple;}
circle.Toxic_Substances{fill:purple;}
circle.Terrorist{fill:blueviolet;}
circle.Other{fill:purple;}

